.gradient {
    background-image: linear-gradient(to right, rgb(46, 98, 181) , rgb(17, 0, 73));
}

.headline {
    color: white;
}

.search {
    color: rgb(135, 135, 135);
}

.spacer {
/* TODO figure out how to get the spacer to be thicker and black */
}

.col-xs-2{
    background:#00f;
    color:#FFF;
}
.col-half-offset{
    margin-left:4.166666667%
}